/*font file*/
@font-face {
  font-family: Bebas Neue Light;
  src: url("fonts/BebasNeueLight.otf") format("opentype");
}

.navbar-static-top {
  margin-bottom: 0px;
  font-family: "Bebas Neue Light";
  font-size: 25px;
  background-color: #FCCF00;
  border-color: #FCCF00;
  font-weight: 200;
}

.navbar-default .navbar-brand{
  color: #ffffff;
}

.navbar-default .navbar-brand:hover{
  color: #ffffff;
}

.navbar-default .navbar-brand:visited{
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}

.logo-nav{
  display:block;
  text-align: center;
  margin-left:20%;
  margin-right:20%;
  height: 50px;
  width: 50px;
}

@font-face {
  font-family: Bebas Neue Bold;
  src: url("fonts/BebasNeueBold.otf") format("opentype");
}

@font-face {
  font-family: Bebas Neue Book;
  src: url("fonts/BebasNeueBook.otf") format("opentype");
}

#name {
  font-family: "Bebas Neue Bold";
  font-size: 40px;
  margin-top:15%;
}

#e {
  color:black;
  font-family: "Bebas Neue Book";
}