body {
  min-height: 2000px;
}

/*font file*/
@font-face {
  font-family: Bebas Neue Bold;
  src: url("fonts/BebasNeueBold.otf") format("opentype");
}

.navbar-brand {
	font-size: 25px;
}

.navbar-static-top {
  margin-bottom: 0px;
  font-family: "Bebas Neue Bold";
  font-size: 25px;
  background-color: #FCCF00;
}

.navbar-default .navbar-brand{
  color: #ffffff;
}

.navbar-default .navbar-nav>li>a {
  color: #ffffff;
}